@font-face {
    font-family: 'IbmPlexSans';
    src: url(./fonts/IBMPlexSans-ExtraLight.ttf) format(truetype);
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'IbmPlexSans';
    src: url(./fonts/IBMPlexSans-Regular.ttf) format(truetype);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'IbmPlexSans';
    src: url(./fonts/IBMPlexSans-SemiBold.ttf) format(truetype);
    font-weight: 600;
    font-style: normal;
}

// Include any default variable overrides here (though functions won't be available)
$primary: rgb(255, 145, 0);

@import "./node_modules/bootstrap/scss/bootstrap";
@import "./node_modules/bootstrap-icons/font/bootstrap-icons.scss";

// Then add additional custom code here
body {
    font-family: 'IbmPlexSans', sans-serif;
    font-weight: 400;
    background-color: #38373b;
    color: #ffffff;
}

header {
    position: relative;
    min-height: 100vh;
    background-image: url("./images/main.jpg");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;

    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.3);
        z-index: 1;
    }

    .navbar {
        background-color: rgba(0, 0, 0, 0.6);
        .brand {
            font-size: 2rem;
            color: $primary;
        }
    
        .nav-link:hover,
        .nav-link:focus {
            transition: border 0.2s;
            border-bottom: 1px solid #ffffff;
            margin-bottom: -1px;
        }
    }

    .header-banner {
        min-height: 100vh;

        .btn {
            font-size: 1.5rem;
            border-radius: 2rem;
        }
    }

    .header-content {
        z-index: 2;
    }
}

main {
    section {
        padding-top: 75px;
    }
    .card {
        background-color: #464647;
        color: inherit;
    }
}

.foot {
    width: 100%;
    height: 75px;
    background-color: $primary;
    display: flex;
    justify-content: center;
    align-items: center;
}